body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    margin: 1rem;
}

h1,
.row__text {
    color: white;
}

h2,
#chatUserName,
#chatDate {
    color: blue;
}

#chatDate {
    width: fit-content;
    margin-right: 10%;
}
#chatImage {
    width: 150px;
    height: auto;
}

.info {
    display: flex;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.info__comment {
    width: 45%;
}
.container {
    margin-left: 10%;
    width: 45%;
}

#fullName,
#link,
#comments {
    border: dashed blue;
    background-color: black;
    color: white;
}
.row__text {
    margin: 15px 0;
}

#chatComment {
    background-color: black;
    color: white;
    border-bottom: dashed blue;
}
#fullName,
#link {
    height: 30px;
}

#comments {
    height: 150px;
}

.btn {
    border: none;
    background-color: blue;
    color: white;
    padding: 0.6em 3em;
    cursor: pointer;
    margin-top: 20px;
    font-size: medium;
}

.btn:hover {
    background-color: rgb(1, 1, 72);
}

#chatComment {
    padding: 20px;
}

.comment__word {
    font-weight: 700;
}

.que {
    color: white;
    margin: 15px 0 0 15px;
}

.form-col {
    display: flex;
}

.chat__container {
    display: flex;
    justify-content: space-between;
}
#swal2-title {
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }
    .info__comment {
        width: 100%;
    }
    .container {
        margin-left: 0%;
        width: 100%;
    }
}
